In [ ]:
import pandas as pd
import numpy as np

Choose Dataset flie f rom Local Directory

In [ ]:
from google.colab import files 
uploaded=files.upload()

Saving NAIV.csv to NAIV (2).csv

Load Dataset

In [ ]:
dataset=pd.read_csv('NAIV (2).csv')

Summarize Dataset

In [ ]:
print(dataset.shape)
print(dataset.head(5))

(30, 5)
   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

Mapping Text Data to Binary Value

In [ ]:
income_set=set(dataset['Sex'])
dataset['Sex']=dataset['Sex'].map({'female':0,'male':1}).astype('Int64')
print(dataset.head)

<bound method NDFrame.head of     Pclass  Sex   Age      Fare  Survived
0        3    1  22.0    7.2500         0
1        1    0  38.0   71.2833         1
2        3    0  26.0    7.9250         1
3        1    0  35.0   53.1000         1
4        3    1  35.0    8.0500         0
5        3    1   NaN    8.4583         0
6        1    1  54.0   51.6800         0
7        3    0   2.0   21.7050         0
8        3    0  27.0   11.1130         1
9        2    0  14.0   30.1050         1
10       3    0   4.0   16.7000         1
11       1    1  58.0    7.8560         1
12       3    1  20.0   16.0000         0
13       3    0  39.0   29.1250         0
14       3    0  14.0   13.0000         0
15       2    0  55.0   18.0000         1
16       3    1   2.0    7.2250         0
17       2    0   NaN   26.0000         1
18       3    0  31.0    7.2250         0
19       3    1   NaN   26.0000         1
20       3    1  35.0   13.0000         1
21       2    0  34.0   31.2200         1
22       2    1  15.0    8.0260         0
23       3    0  28.0   35.2000         1
24       1    0   8.0   21.0750         0
25       3    1  38.0   31.1255         0
26       3    0   NaN    7.2250         1
27       3    0  19.0  263.0000         0
28       1    1   NaN    7.8500         1
29       3    0   NaN   54.3600         1>

Segregate Dataset into X(input/IndependentVarialbe) & Y(Output/DependentVariable)

In [ ]:
X=dataset.drop('Survived',axis='columns')
X

    Pclass  Sex   Age      Fare
0        3    1  22.0    7.2500
1        1    0  38.0   71.2833
2        3    0  26.0    7.9250
3        1    0  35.0   53.1000
4        3    1  35.0    8.0500
5        3    1   NaN    8.4583
6        1    1  54.0   51.6800
7        3    0   2.0   21.7050
8        3    0  27.0   11.1130
9        2    0  14.0   30.1050
10       3    0   4.0   16.7000
11       1    1  58.0    7.8560
12       3    1  20.0   16.0000
13       3    0  39.0   29.1250
14       3    0  14.0   13.0000
15       2    0  55.0   18.0000
16       3    1   2.0    7.2250
17       2    0   NaN   26.0000
18       3    0  31.0    7.2250
19       3    1   NaN   26.0000
20       3    1  35.0   13.0000
21       2    0  34.0   31.2200
22       2    1  15.0    8.0260
23       3    0  28.0   35.2000
24       1    0   8.0   21.0750
25       3    1  38.0   31.1255
26       3    0   NaN    7.2250
27       3    0  19.0  263.0000
28       1    1   NaN    7.8500
29       3    0   NaN   54.3600

Finding & Removing NA values form our Features X

In [ ]:
X.columns[X.isna().any()]

Index(['Age'], dtype='object')

In [ ]:
X.Age=X.Age.fillna(X.Age.mean())

Test again to check any na value

In [ ]:
X.columns[X.isna().any()]

Index([], dtype='object')

In [ ]:
Y=dataset.iloc[:,-1].values
Y

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 1])

In [ ]:
print(dataset)

    Pclass     Sex   Age      Fare  Survived
0        3    male  22.0    7.2500         0
1        1  female  38.0   71.2833         1
2        3  female  26.0    7.9250         1
3        1  female  35.0   53.1000         1
4        3    male  35.0    8.0500         0
5        3    male   NaN    8.4583         0
6        1    male  54.0   51.6800         0
7        3  female   2.0   21.7050         0
8        3  female  27.0   11.1130         1
9        2  female  14.0   30.1050         1
10       3  female   4.0   16.7000         1
11       1    male  58.0    7.8560         1
12       3    male  20.0   16.0000         0
13       3  female  39.0   29.1250         0
14       3  female  14.0   13.0000         0
15       2  female  55.0   18.0000         1
16       3    male   2.0    7.2250         0
17       2  female   NaN   26.0000         1
18       3  female  31.0    7.2250         0
19       3    male   NaN   26.0000         1
20       3    male  35.0   13.0000         1
21       2  female  34.0   31.2200         1
22       2    male  15.0    8.0260         0
23       3  female  28.0   35.2000         1
24       1  female   8.0   21.0750         0
25       3    male  38.0   31.1255         0
26       3  female   NaN    7.2250         1
27       3  female  19.0  263.0000         0
28       1    male   NaN    7.8500         1
29       3  female   NaN   54.3600         1

Splitting Dataset into Train & Test

In [ ]:
!pip install matplotlib-venn
!apt-get -qq install -y libfluidsynth1
!apt-get -qq install -y libarchive-dev && pip install -U libarchive
import libarchive
!apt-get -qq install -y graphviz && pip install pydot
import pydot
!pip install cartopy
import cartopy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib-venn in /usr/local/lib/python3.8/dist-packages (0.11.7)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from matplotlib-venn) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from matplotlib-venn) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from matplotlib-venn) (1.21.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->matplotlib-venn) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->matplotlib-venn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->matplotlib-venn) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->matplotlib-venn) (3.0.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib->matplotlib-venn) (1.15.0)
E: Package 'libfluidsynth1' has no installation candidate
Selecting previously unselected package libarchive-dev:amd64.
(Reading database ... 129504 files and directories currently installed.)
Preparing to unpack .../libarchive-dev_3.4.0-2ubuntu1.2_amd64.deb ...
Unpacking libarchive-dev:amd64 (3.4.0-2ubuntu1.2) ...
Setting up libarchive-dev:amd64 (3.4.0-2ubuntu1.2) ...
Processing triggers for man-db (2.9.1-1) ...
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting libarchive
  Downloading libarchive-0.4.7.tar.gz (23 kB)
  Preparing metadata (setup.py) ... done
Collecting nose
  Downloading nose-1.3.7-py3-none-any.whl (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.7/154.7 KB 7.6 MB/s eta 0:00:00
Building wheels for collected packages: libarchive
  Building wheel for libarchive (setup.py) ... done
  Created wheel for libarchive: filename=libarchive-0.4.7-py3-none-any.whl size=31648 sha256=d0ee3eccceacc21f1293020de3d1b91efa639718315f06060ff1e551801caeb3
  Stored in directory: /root/.cache/pip/wheels/e2/96/fb/b17d6b9adb7c223428b4c77d9e8bc29f40a51d625389b73461
Successfully built libarchive
Installing collected packages: nose, libarchive
Successfully installed libarchive-0.4.7 nose-1.3.7
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pydot in /usr/local/lib/python3.8/dist-packages (1.3.0)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.8/dist-packages (from pydot) (3.0.9)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting cartopy
  Downloading Cartopy-0.21.1.tar.gz (10.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 73.5 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting pyproj>=3.0.0
  Downloading pyproj-3.4.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 79.4 MB/s eta 0:00:00
Requirement already satisfied: matplotlib>=3.1 in /usr/local/lib/python3.8/dist-packages (from cartopy) (3.2.2)
Requirement already satisfied: shapely>=1.6.4 in /usr/local/lib/python3.8/dist-packages (from cartopy) (2.0.0)
Requirement already satisfied: numpy>=1.18 in /usr/local/lib/python3.8/dist-packages (from cartopy) (1.21.6)
Collecting pyshp>=2.1
  Downloading pyshp-2.3.1-py2.py3-none-any.whl (46 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.5/46.5 KB 4.3 MB/s eta 0:00:00
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.1->cartopy) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.1->cartopy) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.1->cartopy) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.1->cartopy) (0.11.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from pyproj>=3.0.0->cartopy) (2022.12.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib>=3.1->cartopy) (1.15.0)
Building wheels for collected packages: cartopy
  Building wheel for cartopy (pyproject.toml) ... done
  Created wheel for cartopy: filename=Cartopy-0.21.1-cp38-cp38-linux_x86_64.whl size=11127988 sha256=307ce5615860ba3221b688d4788c9a748fd3802f9f4f43e334ba58a2a6d0fecd
  Stored in directory: /root/.cache/pip/wheels/7c/ff/6f/09e4aa53f4e67d6498ef1d33dd4ea9c8c165817b9ddcc31d28
Successfully built cartopy
Installing collected packages: pyshp, pyproj, cartopy
Successfully installed cartopy-0.21.1 pyproj-3.4.1 pyshp-2.3.1

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,Y,test_size=0.25,random_state=0)

Training

In [ ]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

Predicting,wheather Person Survived or Not

In [ ]:
pclassNo=int(input("Enter Persion's Pclass number:"))
gender=int(input("Enter Person's Gender 0-female 1-male(0 or 1): "))
age=int(input("Enter Persion's Age: "))
fare=float(input("Enter Persion's Fare: "))
person=[[pclassNo,gender,age,fare]]
result=model.predict(person)
print(result)
if result ==1:
  print("Persion might be Survived")
else:
  print("Person might not be Survived")

Enter Persion's Pclass number:2
Enter Person's Gender 0-female 1-male(0 or 1): 1
Enter Persion's Age: 22
Enter Persion's Fare: 26
[0]
Person might not be Survived

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

Prediction for all test data

In [ ]:
y_pred=model.predict(X_test)
print(np.column_stack((y_pred,y_test)))

[[0 1]
 [0 1]
 [1 0]
 [0 1]
 [1 1]
 [1 0]
 [1 0]
 [0 1]]

Accuracy of our Model

In [ ]:

from sklearn.metrics import accuracy_score
print("Accuracy of the model:{0}%".format(accuracy_score(y_test,y_pred)*100))

Accuracy of the model:12.5%